<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<h1>{{title | uppercase}}</h1>
<h1>{{jsonValue | json}}</h1>
<h1>{{newDate | date :"yyyy/mm/dd hh:mm"}}</h1>
<button (click)="handleEvent()">Click Me</button>
<input placeholder="hello" [(ngModel)]="title"/>
    
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
